<div style="width: 760px; border-top: 0px double black; border: 0px solid black;
padding: 14px; padding-left: 20px; background-color: #ffffaa;">
<h2>What is <i>PaperTracks?</i></h2>
<blockquote>PaperTracks is a great tool for doing something with the papers you've written</blockquote>
</div>
<br>
<div style="width: 760px; padding: 14px; padding-left: 20px; background-color: #ffffaa;"
<h2>Getting Started</h2>
<blockquote><ol>
<li><h3>Sign Up</h3>
<blockquote>Click <a href="/signup">here</a> to make a new account. Already have an account?
<a href="/signin">Sign In</a>
</blockquote></li>
<li><h3>Find a Group</h3>
<blockquote>Join a group of coworkers or colleagues! <a href="/groups/mygroups/">Locate an existing group</a> or <a href="/groups/new">create a new one</a></blockquote></li>
<li><h3>Track Your Papers</h3>
<blockquote>Find your papers and beginning tracking their citations</blockquote></li>
</ol></blockquote>
</div>
